name: PR build
on:
  merge_group:
  pull_request:
    types: [synchronize, ready_for_review]
    paths-ignore:
      - '**/README.md'
      - 'website/'

env:
  PR_NUMBER: ${{ github.event.pull_request.number }}

jobs:
  build:
    name: PR build
    runs-on: ubuntu-latest
    container:
      image: aemiii91/miyoomini-toolchain:latest
      options: --user root
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: Get version
      run: |
        echo "BUILD_VERSION=$(make version)" >> $GITHUB_ENV
    - name: Print version
      run: |
        echo "Onion-v${{ env.BUILD_VERSION }}-pr_${{ env.PR_NUMBER }}"
    - name: Build PR release
      shell: bash
      run: |
        source /root/.bashrc
        VERSION_OVERRIDE=${{ env.BUILD_VERSION }}-pr_${{ env.PR_NUMBER }} make release
    - uses: actions/upload-artifact@v4
      with:
        name: Onion-v${{ env.BUILD_VERSION }}-pr_${{ env.PR_NUMBER }}
        if-no-files-found: error
        retention-days: 30
        overwrite: true
        include-hidden-files: true
        path: dist/
